@use '/styles/variables/_device-size';
@use '/styles/variables/_common';

.layout {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;

    .content {
        margin: 0 auto;
    }
}

.content {
    box-sizing: border-box;
    min-height: 100vh;
    max-width: device-size.$device-width-tablet;
    width: 100%;
    padding: common.$gap;
}
